# Data Clean Up

In [1]:
# Import modules
import os
import pandas as pd

## Make library data set

In [7]:
# Set parameters
covid_path = "../Resources/Weekly_COVID-19_Cases__Tests__and_Deaths_by_ZIP_Code_pulled_272022.csv"
library_circulation_2019_path = "../Resources/Libraries_-_2019_Circulation_by_Location_pulled_272022.csv"
library_visitors_2019_path = "../Resources/Libraries_-_2019_Visitors_by_Location_pulled_272022.csv"
library_circulation_2020_path = "../Resources/Libraries_-_2020_Circulation_by_Location_pulled_272022.csv"
library_visitors_2020_path = "../Resources/Libraries_-_2020_Visitors_by_Location_pulled_272022.csv"
library_circulation_2021_path = "../Resources/Libraries_-_2021_Circulation_by_Location_pulled_272022.csv"
library_visitors_2021_path = "../Resources/Libraries_-_2021_Visitors_by_Location_pulled_272022.csv"

In [45]:
# Load datasets
covid_df = pd.read_csv(covid_path)
library_circulation_2019_df = pd.read_csv(library_circulation_2019_path, dtype={'ZIP': object})
library_visitors_2019_df = pd.read_csv(library_visitors_2019_path, dtype={'ZIP': object})
library_circulation_2020_df = pd.read_csv(library_circulation_2020_path, dtype={'ZIP': object})
library_visitors_2020_df = pd.read_csv(library_visitors_2020_path, dtype={'ZIP': object})
library_circulation_2021_df = pd.read_csv(library_circulation_2021_path, dtype={'ZIP': object})
library_visitors_2021_df = pd.read_csv(library_visitors_2021_path, dtype={'ZIP': object})

# covid_df.head()
# library_circulation_2019_df.head()
library_visitors_2019_df.head()
# library_circulation_2020_df.head()
# library_visitors_2020_df.head()
# library_circulation_2021_df.head()
# library_visitors_2021_df.head()
# library_visitors_2021_df

,LOCATION,ADDRESS,CITY,ZIP,JANUARY,FEBRUARY,MARCH,APRIL,MAY,JUNE,JULY,AUGUST,SEPTEMBER,OCTOBER,NOVEMBER,DECEMBER,YTD
0,Albany Park,3401 W. Foster Ave.,Chicago,60625,10405,10594,11498,10867,10395,11171,11532,11387,11534,11677,9741,9454,130255
1,Altgeld,13281 S. Corliss Ave.,Chicago,60827,2083,2358,2380,2127,2247,2484,2578,2512,2462,2678,2014,2273,28196
2,Archer Heights,5055 S. Archer Ave.,Chicago,60632,6378,7521,7809,7824,7162,6952,7835,7536,6908,8219,6679,5770,86593
3,Austin,5615 W. Race Ave.,Chicago,60644,4878,5391,5655,5378,5178,5895,7399,7962,6299,7604,8128,7713,77480
4,Austin-Irving,6100 W. Irving Park Rd.,Chicago,60634,8003,8879,9627,8853,9172,9897,10441,10110,9031,10054,8060,6953,109080

In [46]:
# Align zip code column name
covid_df = covid_df.rename(columns={"ZIP Code": "ZIP"})
covid_df.head()

,ZIP,Week Number,Week Start,Week End,Cases - Weekly,Cases - Cumulative,Case Rate - Weekly,Case Rate - Cumulative,Tests - Weekly,Tests - Cumulative,...,Test Rate - Cumulative,Percent Tested Positive - Weekly,Percent Tested Positive - Cumulative,Deaths - Weekly,Deaths - Cumulative,Death Rate - Weekly,Death Rate - Cumulative,Population,Row ID,ZIP Code Location
0,60612,15,4/5/2020,4/11/2020,69.0,202.0,201.0,588.7,284.0,803,...,2340.4,0.3,0.3,3,7,8.7,20.4,34311,60612-2020-15,POINT (-87.687011 41.88004)
1,60612,16,4/12/2020,4/18/2020,66.0,268.0,192.0,781.1,286.0,1089,...,3173.9,0.3,0.3,3,10,8.7,29.1,34311,60612-2020-16,POINT (-87.687011 41.88004)
2,60604,4,1/23/2022,1/29/2022,8.0,322.0,1023.0,41176.5,246.0,11461,...,1465601.0,0.0,0.0,0,0,0.0,0.0,782,60604-2022-4,POINT (-87.629029 41.878153)
3,60615,24,6/7/2020,6/13/2020,12.0,377.0,29.0,907.1,538.0,3986,...,9590.3,0.0,0.1,0,15,0.0,36.1,41563,60615-2020-24,POINT (-87.602725 41.801993)
4,60615,25,6/14/2020,6/20/2020,13.0,390.0,31.0,938.3,551.0,4537,...,10916.0,0.0,0.1,1,16,2.4,38.5,41563,60615-2020-25,POINT (-87.602725 41.801993)

In [ ]:
# Add type column


# Add year column

In [50]:
# Merge circulation and visitors together
print(len(library_circulation_2019_df))
print(len(library_visitors_2019_df))
merged_2019 = pd.merge(library_circulation_2019_df, library_visitors_2019_df,
                       how = "outer", on = "ZIP",
                       suffixes = ('_circulation', '_visitors'))
print(len(merged_2019))
merged_2019["ZIP"]
merged_2020 = pd.merge(library_circulation_2020_df, library_visitors_2020_df, how = "outer", on = "ZIP")
merged_2021 = pd.merge(library_circulation_2021_df, library_visitors_2021_df, how = "outer", on = "ZIP")
merged_2019.head()

84
80
174

,LOCATION_circulation,ADDRESS_circulation,CITY_circulation,ZIP,JANUARY_circulation,FEBRUARY_circulation,MARCH_circulation,APRIL_circulation,MAY_circulation,JUNE_circulation,...,APRIL_visitors,MAY_visitors,JUNE_visitors,JULY_visitors,AUGUST_visitors,SEPTEMBER_visitors,OCTOBER_visitors,NOVEMBER_visitors,DECEMBER_visitors,YTD_visitors
0,Albany Park,3401 W. Foster Ave.,Chicago,60625,8214,7614,8460,7414,7044,7970,...,10867.0,10395.0,11171.0,11532.0,11387.0,11534.0,11677.0,9741.0,9454.0,130255.0
1,Albany Park,3401 W. Foster Ave.,Chicago,60625,8214,7614,8460,7414,7044,7970,...,30983.0,37357.0,29641.0,33583.0,32266.0,29043.0,29043.0,30883.0,25256.0,358644.0
2,Sulzer Regional Library,4455 N. Lincoln Ave.,Chicago,60625,31782,29305,33438,30611,29432,32036,...,10867.0,10395.0,11171.0,11532.0,11387.0,11534.0,11677.0,9741.0,9454.0,130255.0
3,Sulzer Regional Library,4455 N. Lincoln Ave.,Chicago,60625,31782,29305,33438,30611,29432,32036,...,30983.0,37357.0,29641.0,33583.0,32266.0,29043.0,29043.0,30883.0,25256.0,358644.0
4,Altgeld,13281 S. Corliss Ave.,Chicago,60827,378,326,332,270,320,325,...,2127.0,2247.0,2484.0,2578.0,2512.0,2462.0,2678.0,2014.0,2273.0,28196.0

In [52]:
# Export data
merged_2019.to_csv("../merged_2019.csv")